<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1560806887-1e4cd0b6cbd6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Apple</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:150</div>
                    <a href="/add-to-cart/617186aa4a5800281b376cca" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1591206369811-4eeb2f03bc95?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Orange</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:160</div>
                    <a href="/add-to-cart/617188794a5800281b376ccf" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1571159400828-9ee6beeb3f4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=541&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Water Melon</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:100</div>
                    <a href="/add-to-cart/61718aa64a5800281b376cd0" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1541344999736-83eca272f6fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Pomegranate</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:200</div>
                    <a href="/add-to-cart/61718c6c4a5800281b376cd1" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src= "https://images.unsplash.com/photo-1550828520-4cb496926fc9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>PineApple</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:180</div>
                    <a href="/add-to-cart/61718d8d4a5800281b376cd2" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src= "https://images.unsplash.com/photo-1578829779691-99b60bd8c7be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1967&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Grapes</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:170</div>
                    <a href="/add-to-cart/6171b7254a5800281b376cd8" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src= "https://media.istockphoto.com/photos/blue-long-dress-picture-id469752373" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Top</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:1700</div>
                    <a href="/add-to-cart/6171c1414a5800281b376cd9" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src= "https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Shirt</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:1000</div>
                    <a href="/add-to-cart/6171c26e4a5800281b376cda" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src= "https://images.unsplash.com/photo-1560243563-062bfc001d68?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Pant</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:1800</div>
                    <a href="/add-to-cart/6171c38e4a5800281b376cdb" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src= "https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Laptop</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:35000</div>
                    <a href="/add-to-cart/6171c49e4a5800281b376cdc" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src= "https://images.unsplash.com/photo-1569183091671-696402586b9c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="..." class="img-responsive">
            <div class="caption">
                <h3>iPhone</h3>
                <p class="description">"Offer!!!"</p>
                <div class="clearfix">
                    <div class="price pull-left">₹:89000</div>
                    <a href="/add-to-cart/6171c61d4a5800281b376cdd" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
     </div>
</div>